@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, arial, sans-serif;
 
}

#main {
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 250px auto;
    background-color: #003552;
    border-bottom: solid 5px #A42212;
    height: 88px;
    overflow: hidden;
}

div .logo {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    grid-gap: 20px;
}

nav a {
    background-color: #5d7783;
    color: #003552;
    text-decoration: none;
    padding: 5px;
    margin: 30px 10px;
    font-size: 20px;
    width: 200px;
}

nav a:hover {
    background-color: #ffffff;
    color: #003552;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin: 50px;

}

.home-info {
    margin-right: 80px;
    width: 500px;
    height: 500px;
    text-align: left;
}

.home-info p {
    line-height: 1.5em;
    padding: 0px;
    margin: 0px;
}

.twentyfiftysix-card {
    grid-column: 2/3;
    grid-row: 1/2;
}

.celerity-card {
    grid-column: 3/4;
    grid-row: 1/2;
}

.hunt-card {
    grid-column: 4/5;
    grid-row: 1/2;
}

.poster-img {
    background-color: #003552;
    padding: 20px;
    width: 100%;
    transition: transform .4s;
}

.poster-img:hover {
    transform: scale(1.01);
    background-color: #A42212;
    padding: 5px;
}

footer {
    background-color: #003552;
    color: white;
    border-top: solid 5px #A42212;
    padding: 10px 10px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: black;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p a:hover {
    background-color:#5d7783;
    color: #003552;
}

footer .social img   {
    padding-top: 15px;
    background-color: #003552;
}

#celerity-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 50px;
    background-color: #5d7783;
    height: 617px;
    
}

#celerity-info h1 {
    text-align: left;
    margin: 0px 0px 0px 10px;
}

#celerity-info p {
    background-color: #003552;
    color: rgba(255, 255, 255, 0.719);
    margin-left: 40px;
    margin-top: 0px;
    width: 70%;
    height: 100px;
    overflow: auto;
}

.synopsis {
    margin: 10px;
    grid-column: 2/5;
    text-align: left;
}

.mc {
    grid-column: 2/5;
}

.character-img {
    background-color: #003552;
    padding: 20px;
    width: 70%;
    margin-left: 40px;
}

.poster-two-img {
    grid-row: 1/6;
}

#hunt-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 50px;
    background-color: #5d7783;
    height: 617px;
    
}

#hunt-info h1 {
    text-align: left;
    margin: 0px 0px 0px 10px;
}

#hunt-info p {
    background-color: #003552;
    color: rgba(255, 255, 255, 0.719);
    margin-left: 40px;
    margin-top: 0px;
    width: 70%;
    height: 100px;
    overflow: auto;
    
}

#twentyfiftysix-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 50px;
    background-color: #5d7783;
    height: 617px;
    
}

#twentyfiftysix-info h1 {
    text-align: left;
    margin: 0px 0px 0px 10px;
}

#twentyfiftysix-info p {
    background-color: #003552;
    color: rgba(255, 255, 255, 0.719);
    margin-left: 40px;
    margin-top: 0px;
    width: 70%;
    height: 100px;
    overflow: auto;
    
}

.actor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.actor-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 237px;
    background-color: #5d7783;
    margin: 50px;
    text-align: left;
}

.actor-img {
    grid-row: 1/3;
}

.actor-card h2 {
    margin-top: 50px;
}

@media screen and (max-width: 900px) {

    div .logo {
        width: 100%;
    }

    nav, footer {
        flex-direction: column;
    }

    nav a {
        padding: 8px;
        margin: 5px 10px;
        font-size: 20px;
        width: auto;
    }

    header {
        display: grid;
        grid-template-columns: 100%;
        background-color: #003552;
        border-bottom: solid 5px #A42212;
        height: auto;
    }

    .home-grid {
        display: block;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    .poster-img {
        width: 50%;
        margin: 10px;
    }

    .home-info {
        text-align: center;
        width: auto;
        margin: 0px;
    }

    .character-img {
        width: 30%;
        align-self: center;
    }

    #celerity-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        margin: 10px;
    }

    #celerity-info p {
        align-self: center;
        margin-top: 10px;
    }

    #hunt-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        margin: 10px;
    }

    #hunt-info p {
        align-self: center;
        margin-top: 10px;
    }

    #twentyfiftysix-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        margin: 10px;
    }
    
    #twentyfiftysix-info p {
        align-self: center;
        margin-top: 10px;
    }

    .actor-grid {
        display: flex;
        flex-direction: column;
    }

    .actor-card {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        margin: 65px;
    }
}